* {
    padding: 0%;
    margin: 0%;
    font-family: sans-serif;
    list-style-type: none;
    text-transform: capitalize;
    background-color: azure;
}
h2 {
    text-align: center; 
    font-weight: 500;
}




