* {
    padding: 0%;
    margin: 0%;
    font-family: sans-serif;
    list-style-type: none;
    text-transform: capitalize;
    background-color: azure;
}
h2 {
    text-align: center; 
    font-weight: 500;
}
.skills {
    border: 5px solid bisque;
    margin: 90px;
    padding: 90px;
}
.skills li {
    margin: 10px;
    padding: 10px;
}
.bar {
    display: block;
    border: 1px solid brown;
    height: 5px;
    border-radius: 5px;
    overflow: hidden;
}
.bar span {
    float: left;
    height: 10px;
    background: #e1eec3;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f05053, #e1eec3);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f05053, #e1eec3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}

