* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}
img {
    width: 100%;
    margin: 0 auto;
    /* position: relative; */
}
ul {
    text-align: center;
    word-spacing: 7px;
    /* letter-spacing: 5px; */
    background-color: beige;
    height: 30px;
    color: darkcyan;
    box-shadow: 0 5px 5px -1px rgba(0,0,0,.2);
}
li {
    display: inline;
    font-size: larger;
    font-family: sans-serif;
    font-weight: bold;
}
a {
    text-decoration: none;
}
#text {
    margin-left: 200px;
    font-family: sans-serif;
    font-size: x-large;
}
h5 {
    color: lightcoral;
    padding: 30px;
}
hr {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
span {
    margin-top: 30%;
}
.boxes {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}
.box { 
    width: 20%;
    margin: 10px;
    /* border: 1px solid ; */
    height: 500px;
    margin-top: 50px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    font-size: large;
    padding: 0 20px;
}
#myText {
    text-align: center;
    font-family: sans-serif;
    font-size: x-large;
    background-color: lightgray;
    height: 150px;
    padding: 50px;
    margin-top: 50px;
}
.category {
    text-align: center;
    padding: 30px ;
    word-spacing: 5px;
    background-color: lightgray;
}
a {
    color: black;
}
h4,
b {
    font-family:  Arial;
    font-weight: bolder;
}
h2, 
b {
    /* font-size: larger; */
    font-family: Arial, Helvetica, sans-serif;
    /* color: lightcyan; */
}
.section {
    background-color: lightgray;
    color: black;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    width: 100%;
}
.section img {
    width: 450px;
}
.section h4  {
    padding-left: 25px;
 }
.section h2  {
    padding-left: 25px;
 }
 .section p {
    text-align: justify;
    /* margin-right: 15px;  */
    text-align: center;
    font-size: large;
}
.contactBoxes, h3
b {
    text-align: center;
    font-size: x-large;
    font-style: normal;
    font-family: sans-serif;
    /* color: rgb(19, 183, 237); */
    margin-top: 50px;
}
.socialAccounts {
    display: flex;
    align-items: center;
    justify-content: center;
}
#box {
    width: 20%;
    margin: 10px;
    /* border: 1px solid ; */
    height: 150px;
    margin-top: 50px;
    font-size: large;
    text-align: center;
    padding: 0 20px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
p {
    /* padding: 15px */
    /* text-align: center; */
    padding: 10px;
    margin-top: 10px;
}
.textFooter {
    text-align: center;
    font-family: sans-serif;
    font-size: xx-large;
}
input[type=text] {
    width: 35%;
}
textarea {
    width: 71%;
    margin-top: 10px;
}
#shootMsg[type=text] {
    text-align: center;
}
.copyRight {
    text-align: center;
    background-color: rgb(232, 226, 219);

}
