* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}
ul {
    text-align: center;
    word-spacing: 7px;
    /* letter-spacing: 5px; */
    background-color: beige;
    height: 30px;
    color: darkcyan;
    box-shadow: 0 5px 5px -1px rgba(0,0,0,.2);
}
li {
    display: inline;
    font-size: larger;
    font-family: sans-serif;
    font-weight: bold;
}
a {
    text-decoration: none;
}
#text {
    margin-left: 200px;
    font-family: sans-serif;
    font-size: x-large;
}
h5 {
    color: lightcoral;
    padding: 30px;
}
.boxes {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}
.box { 
    width: 20%;
    margin: 10px;
    border: 1px solid ;
    height: 500px;
    margin-top: 50px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    font-size: large;
    padding: 0 20px;
  }