* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}
ul {
    text-align: center;
    word-spacing: 7px;
    /* letter-spacing: 5px; */
    background-color: beige;
    height: 30px;
    color: darkcyan;
    box-shadow: 0 5px 5px -1px rgba(0,0,0,.2);
}
li {
    display: inline;
    font-size: larger;
    font-family: sans-serif;
    font-weight: bold;
}
a {
    text-decoration: none;
}
#text {
    margin-left: 200px;
    font-family: sans-serif;
    font-size: x-large;
}
h5 {
    color: lightcoral;
    padding: 30px;
}
.boxes {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}
